<!doctype html>
<html>
  <body>
    <form action="{% url 'simple_form' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Post" />
    </form>
  </body>
</html>
